*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}

.navbar{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 1000;
    color: rgb(17, 160, 17);
    margin-left: 40px;
}

.logo2{
    padding-left: 30px;
}

.content{
    margin-left: 500px;
}

.content a{
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 30px;
}

.content a:hover{
    color: rgb(11, 156, 11)
}

#active{
    color: rgb(14, 199, 14);
}

.btn{
    margin-left: 80px;
    height: 100px;
    width: 250px;
    font-size: 1.6rem;
    border: none;
    background-color: rgb(16, 194, 16);
    color: white;
    cursor: pointer;
} 

.btn:hover{
    background-color: rgb(15, 189, 189);
}
/* navbar ends */

.background{
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 890px;
}